*{
    padding: 0;
    margin: 0;
}
.menu li {
    float: left;
    
}

.menu {
    margin-bottom: 0;
    list-style: none;
    color: #fff;
}

.header-top{
    
}

.search-form {
    float: right;
}

.form-inline{
    display: flex;
}

.form-control{
    margin-right: 5px;
}

.carousel-item{
    height: 500px;
}

#carouselExampleCaptions{
    padding: 0;
}

.carousel-caption{
    text-align: left;
}

.footer{
    margin-top: 140px;
}